{% for person in people %}
    <div class="person_card js-person_card" data-person_id="{{ person.id }}">
        <div class="people_img">
            {% if  person.photo is empty %}
                <img src="http://placem.at/people?w=600&h=400&random=2" alt="lorem">
            {% else %}
                <img src="{{ person.photo }}" alt="lorem">
            {% endif %}
        </div>
        <div class="people_info">
            <div class="name">{{ person.name }}</div>
            <div class="hidden_block">
                <div class="title">{{ person.title }}</div>
                <div class="quote">
                    {{ person.quote }}
                </div>
            </div>
        </div>
        <i class="click-me far fa-hand-pointer"></i>
    </div>
{% endfor %}